html
{
  background-color: white;
}

header hgroup
{
  font-family: "Rubik_Maze", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  font-size: 70px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  font-weight: 600;
  background-image: repeating-conic-gradient(#553c9a 0%, #553c9a 10%, #ee4b2b 10%, #ee4b2b 20%, #00c2cb 20%, #00c2cb 30%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h1
{
  font-family: "Rubik_Maze", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  font-size: 70px;
}

h2
{
  font-family: "Righteous-Regular", sans-serif;
  font-size: 45px;
  text-align: center;
  text-transform: normal;
}

h3 
{
  font-family: "SecularOne", sans-serif;
  text-align: center;
}

body
{
  font-family: "LexendDeca-VariableFont_wght", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: none;
}

#contact-me h2
{
  font-size: 40px;
  background-color: blanchedalmond;
  background-clip: text;
  -webkit-background-clip: text;
}

input, label
{
  font-family: "LexendDeca-VariableFont_wght", sans-serif;
}

#contact-me
{
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
}

ul
{
  list-style-type: none;
}

section 
{
  margin: 50px;
  padding: 50px;
  background-color: white;
}

#about-me
{
  margin: 50px;
  padding: 50px;
  background-color: cadetblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: white;
}

#about-me h2
{
  font-size: 50px;
  font-weight: 500;
  color: white;
  font-family: "Righteous-Regular", sans-serif;
}

#about-me h3
{
  font-size: 35px;
  font-weight: 500;
  color: wheat;
}

#portfolio
{
  margin: 50px;
  padding: 50px;
  background-color: darksalmon;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#portfolio h2
{
  font-size: 70px;
  font-weight: 500;
  color: white;
}

form 
{
  display: flex;
  flex-direction: column;
}

button 
{
  display: inline-block;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  transition: background-color 0.3s ease;
}

button:hover 
{
  background-color: lightgoldenrodyellow;
}

main
{
  background-color: none;
}

input[type="name"], input[type="email"], input[type="message"], textarea
{
  margin-bottom: 20px;
  padding: 10px 5px;
  border: solid;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  fontcolor: #000000;
  transition: background-color 0.3s ease;
  font-family: "SecularOne", sans-serif;
}

nav
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px 10px;
  overflow: hidden;
  margin: 20px;
  margin-top: 50px;
  background-color: white;
  border: groove;
  position: relative;
}

nav ul li
{
  float: left;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin: 10px;
  font-size: 17px;
  list-style-type: none;
  font-family: "SecularOne", sans-serif;
  font-weight: bold;
}

nav ul li a
{
  text-decoration: none;
  color: orangered;
  padding: 10px 30px;
  font-size: 1.3em;
}

nav ul li a:hover 
{
  background-color: blanchedalmond;
  cursor: pointer;
}

#portfolio img
{
  max-width: 25%;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  display: block;
  margin: auto;
  text-align: center;
}

img
{
  max-width: 25%;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  display: block;
  margin: auto;
  text-align: center;
}

div img
{
  max-width: 10%;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  display: block;
  margin: auto;
  text-align: center;
}

#about-me h3, p
{
  text-align: center;
  font-family: 'LexendDeca-VariableFont_wght', sans-serif;
}

#port_item
{
  background-color: none;
}

@font-face 
{
  font-family: 'Rubik_Maze';
  src: url('RubikMaze-Regular.ttf') format('truetype');
}

@font-face 
{
  font-family: 'CormorantGaramond-SemiBold';
  src: url('CormorantGaramond-SemiBold.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Righteous-Regular';
  src: url('Righteous-Regular.ttf') format('truetype');
}

@font-face 
{
  font-family: 'LexendDeca-VariableFont_wght';
  src: url('LexendDeca-VariableFont_wght.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SecularOne';
  src: url('SecularOne-Regular.ttf') format('truetype');
}

html, body 
{
  padding: 0;
  margin: 0;
  height: 100%;
}

html 
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body 
{
  font-size: 1.3em;
}

header 
{
  height: 100%;
  position: relative;
  overflow: visible;
  background-color: none;
}

header
{
  background-color: inherit; 
  margin-bottom: 250px;
}

header .content 
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 125px;
  z-index: 1;
  background-color: white;
}

header h1, header h2 
{
  margin: 0;
  padding: 0;
}

header h2
{
  text-transform: uppercase;
  margin-top: -.2em;
}